body {
    margin-top : 80px;
    margin-bottom : 80px;
}

.list-action table {
    width: 100%;
    text-align: center;
}


/* overwrite bootstrap */
.table > thead > tr > th {
    border-top: none;
}